$smalltext: white;
$titlefont:'Oswald', sans-serif;
$smallfont: 'Quicksand', sans-serif;


.director {
color: $smalltext;
font-family: $smallfont;
}

.movie-title {
  font-family: $titlefont;
}


@media only all and (max-width: 1020px) {

  .movie-card {
    font-size: 13px;
  }

}





  @import "~bootstrap/scss/bootstrap.scss";