$bgcolor: #170229;
$primary: #a479db;
$main-text: white;
$custom-font: "Trebuchet MS", sans-serif;



.movieTitle {
    color: $main-text;
    font-family: $custom-font;
    font-size: 1.5em;
}

.director {
    color: $main-text;
    font-weight: 200;
}


  @import "~bootstrap/scss/bootstrap.scss";