$titlefont:'Oswald', sans-serif;
$smallfont: 'Quicksand', sans-serif;


.nav-bar {
    margin: 10px 0 30px 0;
    font-family: $titlefont;
    .navbar-toggler-icon {
        /* Change the color of the hamburger menu icon here */
        color: white;
      }
}

@import "~bootstrap/scss/bootstrap.scss";