.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    input {
        color: white;
        &::placeholder {
            color: white;
            opacity: 1;
        }
    }
}

.main-content {
    margin-bottom: 80px; 
  }


  @media only all and (max-width: 1020px) {

    .movie-card {
      font-size: 20px;
    }

    .card-img {
        max-width: 250px;
    }
  
  }
  
  
  


@import "~bootstrap/scss/bootstrap.scss";