$smalltext: white;
$titlefont:'Oswald', sans-serif;
$smallfont: 'Quicksand', sans-serif;

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: $smalltext;
  font-family: $smallfont;
}

.update-button {
  margin: 20px 0;
}

.delete-button {
  margin-top: 10px;
}


.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
  font-family: $smallfont;
}

.userinfo-title {
  margin-bottom: 40px;
  font-family: $titlefont;

}

.favorite-movies-title {
  margin: 60px 0 40px 0;
  font-family: $titlefont;
}

  @import "~bootstrap/scss/bootstrap.scss";