$smalltext: white;
$titlefont:'Oswald', sans-serif;
$smallfont: 'Quicksand', sans-serif;

.movie-details {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  color: $smalltext;
  margin-top: 20px;
  border-radius: 20px;
  font-family: $smallfont;
}

.movieViewTitle {
  font-family: $titlefont;
}

img {

  width: 55%;
  display: block;
  margin: 0 auto;
}


.movie-view-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  font-family: $smallfont;
}



@media only all and (max-width: 700px) {

  .movie-details {
    font-size: 13px;
  }

  img {
    width: 90%;
  }

}



@import "~bootstrap/scss/bootstrap.scss";