$smalltext: white;

.movie-details {
  max-width: 40%;
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  color: $smalltext;
}

img {

  width: 40%; /* Adjust the width to your desired size */
  display: block;
  margin: 0 auto; /* Center horizontally */
  }

/*
  .button-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  */

  


  @import "~bootstrap/scss/bootstrap.scss";