

body {
  background-image: url("../src/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav-bar {
  color: white;
}

@import '~bootstrap/scss/bootstrap.scss';


