$primary: #a479db;
$main-text: white;


body {
  background-image: url("../src/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@import '~bootstrap/scss/bootstrap.scss';


